h1 {
    text-align: center;
}
.container {
    display:flex;

}

.text {
    background-color: #fcaffc8e;
    padding: 5px;
    color: white;

    margin: auto;
}
p {

    font-size: 50px;
    text-align: center;

}